html 
    head 
        block head 
        link(rel='stylesheet' href='/main.css')
    body 
        div.header
            center
                img#logo(src='/icraft_logo.jpg')
            h1
                block header 
        .content 
            block content